:root{
    --blue: #07f;
    --white: #fff;
}

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'GT Walsheim';
    src:  url('fonts\GTWalsheimPro-Black.eot') format('woff2');
}

html{
    font-family: 'GT Walsheim', Poppins;
    font-size: 10px;
}

header, section, footer{
    padding-left: 6rem;
    padding-right: 6rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    position: fixed;
    width: 100%;
    /* top: 0; */
    background-color: #fff;
}

button{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    border-radius: 6px;
}

header img{
    width: 10rem;
}

header nav{
    font-size: 1.8rem;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    padding-right: 2.8rem;
}

.btn-pry{
    background-color: #09f;
    color: #fff;
    margin-left: 6px;
}

.btn-pry:hover{
    background-color: #07f;
}

.btn-sec{
    background-color: #fff;
    border: 1px solid #ccc;
}

.btn-sec:hover{
    background-color: #f8f8f8;
}

header.mobile-head{
    display: none;
}


/* hero section */
main{
    padding-top: 120px;
}
section.hero{
    text-align: center;
}
section.hero h1{
    width: 80%;
    margin: auto;
    font-size: 10rem;
    line-height: 12rem;
    background: -webkit-linear-gradient(#597efd, #c07dfd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.hero p{
    font-size: 2.5rem;
    padding-top: 3.5rem;
    width: 50%;
    margin: auto;
    padding-bottom: 4rem;
}

.hero span{
    border: 3px solid #09f;
    border-radius: 6px;
    height: auto;
    width: 100px;
    padding: 15px 0px;
    padding-left: 0.8rem;
}

.hero span input{
    border: none;
    outline: none
}

.hero span button{
    position: relative;
    top: 2px;
}

/* teams */
section.teams{
    padding-top: 80px;
}

section.teams{
    color:#b2b2b2;
    
}